{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <title>Wi-Fi | Monitoring</title>
</head>
{#{% for foo in weak %}#}
{#    {{ foo }}#}
{#{% endfor %}#}


<body class="h-100 d-flex flex-column justify-content-between body">
<!-- Main start -->

<main class="flex-grow-1">
    <div class="container-fluid px-3">
        <div class="row">
            <div class="col-12 col-md-3 d-flex d-md-block flex-wrap justify-content-between border-end px-0">
                <div
                        class="d-flex align-items-center justify-content-between flex-wrap pb-3 p-5 pt-4 border-bottom">
                    <a href="/">
                        <img src="{% static 'images/logo.png' %}" alt="Site logo" width="250"/>
                    </a>
                </div>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50 " href="/">
                    <i class="fa-solid fa-laptop-code"></i>
                    <span class="fs-5 mx-3">Kompyuterlar</span>
                </a>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none  m-2 mb-1 p-3 text-light bg-primary bg-gradient rounded-4"
                   href="/printer/">
                    <i class="fa-solid fa-print"></i>
                    <span class="fs-5 mx-3">Printerlar</span>
                </a>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50"
                   href="/proektor/">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span class="fs-5 mx-3">Proektorlar</span>
                </a>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50 "
                   href="/wifi/">
                    <i class="fa-solid fa-wifi fa-beat"></i>
                    <span class="fs-5 mx-3">Wi-Fi routerlar</span>
                </a>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50"
                   href="/camera/">
                    <i class="fa-solid fa-camera"></i>
                    <span class="fs-5 mx-3">Kameralar</span>
                </a>
                <div
                        class="d-flex align-items-center justify-content-between flex-wrap  text-decoration-none text-black-50  border-top pt-2">
                    <a href="{% url 'main:update' %}"
                       class="d-flex align-items-center  px-3 text-decoration-none text-black-50">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        <span class="fs-5 mx-3">Bazani tahrirlash</span>
                    </a>
                </div>
            </div>

            <!-- Info bo'limi -->
            <div class="col-12 col-md-9 p-2">
                <div class="row flex-column-reverse flex-xl-row m-4">
                    <div class="col-12 col-xl-8">
                        <div class="row">
                            <div class="col-12 shadow rounded-4 my-2 p-4 pb-3" style="height: 500px;">
                                <div class="d-flex align-items-center">

                                    <p class="m-0 mb-4 fs-4">
                                        Qurilmalarning ish faoliyati grafigi
                                    </p>
                                    <a class="btn btn-outline-primary active m-3" href="/printer">Oylik</a>
                                    <a class="btn btn-outline-primary " href="/printer/hafta">haftalik</a>
                                </div>
                                <canvas class="canvas show" id="lineChart" style="width: 100%; height: 80%;"></canvas>
                            </div>
                        </div>
                    </div>

                    <!-- Numbers box -->
                    <div class="col-12 col-xl-4 mb-4 mb-xl-0">
                        <!-- =====Edit and profile img====== -->
                        <div class="px-3">
                            <div class="p-4 rounded-4 shadow">
                                <h6 class="fs-5">
                                    <center>Umumiy soni:</center>
                                </h6>
                                <h1 class="fs-1">
                                    <center>{{ total }}</center>
                                </h1>
                            </div>
                            <div class="p-4 rounded-4 shadow mt-3">
                                <h6>
                                    <center>Ish faoliyatida:</center>
                                </h6>
                                <h1>
                                    <center>{{ percentage }}%</center>
                                </h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</main>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
<script>
    var ctx = document.getElementById('lineChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['5', '10', '15', '20', '30',],
            datasets: [{
                label: 'Oylik',
                data: {{ data }},
                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                borderColor: 'rgba(0, 123, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function (value, index, values) {
                            return value + '%';
                        }
                    }
                }]
            }
        }
    });

</script>

</body>

</html>