{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <title>Wi-Fi | Monitoring</title>
</head>
<body class="h-100 d-flex flex-column justify-content-between body">
<!-- Main start -->
<main class="flex-grow-1">
    <div class="container-fluid px-3">
        <div class="row">
            <div class="col-12 col-md-3 d-flex d-md-block flex-wrap justify-content-between border-end px-0">
                <div class="d-flex align-items-center justify-content-between flex-wrap pb-3 p-5 pt-4 border-bottom">
                    <a href="/">
                        <img src="{% static 'images/logo.png' %}" alt="Site logo" width="250"/>
                    </a>
                </div>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50 " href="/">
                    <i class="fa-solid fa-laptop-code"></i>
                    <span class="fs-5 mx-3">Kompyuterlar</span>
                </a>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50"
                   href="/printer/">
                    <i class="fa-solid fa-print"></i>
                    <span class="fs-5 mx-3">Printerlar</span>
                </a>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50"
                   href="/proektor/">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span class="fs-5 mx-3">Proektorlar</span>
                </a>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none  text-black-50"
                   href="/wifi/">
                    <i class="fa-solid fa-wifi fa-beat"></i>
                    <span class="fs-5 mx-3">Wi-Fi routerlar</span>
                </a>
                <a class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50"
                   href="/camera/">
                    <i class="fa-solid fa-camera"></i>
                    <span class="fs-5 mx-3">Kameralar</span>
                </a>
                <div class="d-flex align-items-center justify-content-between flex-wrap  text-decoration-none  border-top pt-2 m-2 mb-1 p-3 bg-primary bg-gradient rounded-4 text-light">
                    <a href="{% url 'main:update' %}" class="d-flex align-items-center  px-3 text-decoration-none text-black-50">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        <span class="fs-5 mx-3">Bazani tahrirlash</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-9 d-flex d-md-block flex-wrap justify-content-between border-end px-0">
                <div class="col-12  col-md-4">
                    <form method="GET" id="FORM">
                        <select class="form-select m-3" aria-label="Default select example" name="select" id="selected">
                            <option value="Kameralar">Kameralar</option>
                            <option value="Wifi router">Wifi router</option>
                            <option value="Printerlar">Printerlar</option>
                            <option value="Kompyuterlar">Kompyuterlar</option>
                        </select>
                        <button style="float: right" type="submit" class="btn btn-primary">tanlash</button>
                    </form>
                </div>
                <div class="col-12 col-md-9"
                     style="display: flex;  justify-content: space-around; align-items: center;">
                    <div class="forms col-12 col-md-6 ms-2">

                        <form method="POST">{% csrf_token %}
                            {{ form|crispy }}
                    </div>
                    <div class="forms col-12 col-md-4 >
                       <label for=" new
                    ">Yangi qo'shish</label>
                    <input value="0" class="form-control" type="number" name="new" id="new" placeholder="yangi qo'shish">
                    <label for="tamirlnadi">Tamirlandi</label>
                    <input value="0" class="form-control" type="number" name="tamir" id="new" placeholder="Tamirlandi">
                    <label for="broken">Buzuldi</label>
                    <input value="0" class="form-control" type="number" name="broken" id="broken" placeholder="Buzukdi">
                    <div>
                        <button class="btn btn-primary mt-5" type="submit">
                            Saqlash
                        </button>
                        <a href="/" class="btn btn-danger mt-5">
                            Bekor qilish
                        </a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>

</html>